* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #00bbff;
  --secundary: #0f0f0f;
  --white: #ffffff;
  --gray: #d9d9d9;
  --blue-st: #0092c7;
}

body {
  font-family: "Arimo", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #1d1f24;
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--white);
  font-size: 15px;
}

p {
  font-size: 15px;
  font-weight: 500;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
  padding-top: 40px;
}

h3 {
  font-size: 27px;
}

li {
  list-style: none;
}

li a:hover {
  padding: 0px 5px;
  transition: 0.5s;
  color: var(--primary);
  border-bottom: 3px solid var(--primary);
}

.font-bold,
li {
  font-weight: bolder;
}

.text-white {
  color: var(--white);
}

.text-gray {
  color: var(--gray);
}

.text-primary {
  color: var(--primary);
}

.text-main {
  max-width: 380px;
}

.text-center {
  text-align: center;
}

.text-gradient {
  background-image: linear-gradient(90deg, #00bbff 35%, #a7fcee 100%);
  color: var(--primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-italic {
  font-style: italic;
}

.text-strong {
  font-weight: bold;
}

.text-normal {
  font-size: 21px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.items-top {
  align-items: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
  justify-content: center;
  gap: 3px;
}

.flex-col {
  flex-direction: column;
}

.gap {
  gap: 8px;
}

.gap-1 {
  gap: 18px;
}

.gap-2 {
  gap: 24px;
}

.w-text {
  max-width: 380px;
}

.container {
  max-width: 1212px;
  margin: 40px auto;
}

.container-section {
  max-width: 960px;
  margin: 40px auto;
}

.cursor-animation {
  cursor: pointer;
  animation: blink-caret 0.95s infinite;
}

@keyframes blink-caret {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.menu-mobile {
  display: none;
}

.pt-2 {
  padding-top: 18px;
}

.py {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-1 {
  padding-top: 18px;
  padding-bottom: 18px;
}

.py-2 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.mx-2 {
  margin-right: 18px;
  margin-left: 18px;
}

.mt {
  margin-top: 8px;
}

.mt-1 {
  margin-top: 18px;
}

.mt-2 {
  margin-top: 24px;
}

.mt-3 {
  margin-top: 40px;
}

.mt-4 {
  margin-top: 55px;
}

.my {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-1 {
  margin-top: 18px;
  margin-bottom: 18px;
}

.my-2 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.my-3 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-4 {
  margin-top: 55px;
  margin-bottom: 55px;
}

.image-right {
  display: flex;
  justify-content: flex-end;
}

.image-left {
  display: flex;
  justify-content: flex-start;
}

.img-icon {
  width: 55px;
  object-fit: cover;
}

.img-technology {
  width: 85px;
  filter: grayscale(100%);
  transition: transform 0.5s;
}

.img-technology:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.effects {
  transition: all 0.5s;
  border-radius: 50%;
  border: 3px solid transparent;
}

.effects:hover {
  border: 3px solid var(--primary);
  border-radius: 50%;
}

.box-tool {
  width: 342px;
  border-radius: 18px;
  border: 1px solid var(--gray);
  background: rgba(0, 0, 0, 0.14);
  padding: 20px;
}

.box-tool:hover {
  background: rgba(0, 0, 0, 0.24);
  border: 1px solid var(--primary);
}

.footer {
  width: 100%;
  background-color: var(--blue-st);
  color: var(--secundary);
}

.bg-secundary {
  border-color: var(--secundary);
}

.open-menu-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  text-transform: uppercase;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 40px;
  left: 40px;
}

.box-portfolio {
  position: relative;
  width: 342px;
  height: 350px;
  margin: 5px;
  overflow: hidden;
}

.box-portfolio .img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box-portfolio .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-portfolio .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.box-portfolio .content div {
  padding: 40px;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.2s;
}

.box-portfolio:hover .content div {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.box-portfolio span {
  position: absolute;
  transform: translate(-50%, -50%);
  display: block;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  opacity: 0.95;
  background: #000000;
  z-index: 1;
  transition: width 0.5s, height 0.5s;
}

.box-portfolio:hover span {
  width: 1000px;
  height: 1000px;
}

[data-anime] {
  opacity: 0;
  transition: 0.5s;
}

[data-anime="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime="fade"] {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

[data-anime="bottom"] {
  transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

@media (max-width: 1000px) {
  .logo {
    width: 50px;
  }

  a,
  p {
    font-size: 15px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  .container {
    width: 80%;
  }

  .container-section {
    width: 80%;
    margin: 40px auto;
  }

  .mobile-space {
    flex-direction: column;
    gap: 2px;
  }

  .w-full {
    width: 100%;
    margin-bottom: 20px;
  }

  .box-tool {
    width: 100%;
  }

  .image-right,
  .image-left {
    display: none;
  }

  .img-icon {
    width: 45px;
    object-fit: cover;
  }

  .box-portfolio {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .menu-desktop {
    display: none;
  }

  .menu-mobile {
    display: block;
  }
}
